html,
body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f7fa;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* color code */
.blue {
  color: #405189;
}

.darkgreycolor {
  color: #495057;
}


/******************** TOSTER ********************************/

.success-snackbar {
  background: #4caf50;
  color: white;
}

.error-snackbar {
  background: #f44336;
  color: white;
}

.warning-snackbar {
  background: #ff9800;
  color: white;
}

.info-snackbar {
  background: #2196f3;
  color: white;
}

.delete-dialog-animation .mat-mdc-dialog-container{

animation: dialogFadeIn 250ms ease;
}

@keyframes dialogFadeIn{

from{
opacity:0;
transform:scale(0.9);
}

to{
opacity:1;
transform:scale(1);
}

}.cdk-overlay-backdrop {

  transition: opacity 200ms ease !important;

}